<div class="card card-custom gutter-b" style="margin-bottom: 20px;">
  <div class=" card-body">
    <div class="d-flex">
      <div class="flex-grow-1">
        <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
          <div class="mr-3">
            <h3 class="card-label text-dark"><i class="flaticon2-contract icon-xl text-primary mr-2"></i>{{offer.title}}
              <small style="color:gray">postée le
                {{ getDate(offer.posted_at) | date:'dd/MM/yyy'}}</small>
            </h3>
            <div class="d-flex flex-wrap my-2">
              <a *ngIf="sectors != undefined" class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon-map mr-2"></i>{{ getSector(offer["offer_sector_id"]) }}</a>
              <a *ngIf="companies != undefined" class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon-suitcase mr-2"></i>{{ getCompany(offer["company_id"]) }}</a>
              <a *ngIf="contracts != undefined" class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon-file-2 mr-2"></i>{{ getContract(offer["contract_id"]) }}</a>
              <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon2-pin"></i>
                {{ offer.city }}
                ({{ offer.department }})
              </a>
            </div>
          </div>
        </div>


        <div class="d-flex align-items-center flex-wrap justify-content-between">
          <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
            {{ getContent(offer.content)}}
            <div *ngIf="offer.department > 1">Content to render when condition is true.</div>
          </div>
        </div>
        <div class="my-lg-0 my-1 d-flex justify-content-end">

          <a  href="#" style="width: fit-content;" data-toggle="modal" [attr.data-target]="'#modal' + offer.offer_id" class="btn btn-sm btn-text-dark-50 btn-hover-icon-primary btn-hover-text-primary bg-hover-light-primary font-weight-bolder rounded font-size-sm p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </a>

          <a  href="#" *ngIf="statusUser == 'candidate'"  style="width: fit-content;" data-toggle="modal" [attr.data-target]="'#candidate' + offer.offer_id" class="btn btn-sm btn-text-dark-50 btn-hover-icon-primary btn-hover-text-primary bg-hover-light-primary font-weight-bolder rounded font-size-sm p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
              <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </a>


          <a  [routerLink]="" *ngIf="isLike == false && statusUser == 'candidate' " (click)="like(offer)" class="btn btn-sm btn-text-dark-50 btn-hover-icon-success btn-hover-text-success bg-hover-light-success font-weight-bolder rounded font-size-sm p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
              <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
              <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
            </svg>
          </a>

          <a  [routerLink]="" *ngIf="isLike == true && statusUser == 'candidate' " (click)="unlike(offer)" class="btn btn-sm  btn-icon-success btn-text-success bg-light-success font-weight-bolder rounded font-size-sm p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16">
              <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
              <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
            </svg>
          </a>

        </div>
        <div class="modal fade" id="modal{{offer.offer_id}}" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="card-label text-dark"><i class="flaticon2-contract icon-xl text-primary mr-2"></i>{{offer.title}}
                  <small style="color:gray">postée le {{offer.offer_id}}
                    {{ getDate(offer.start_date) | date:'dd/MM/yyy'}}</small>
                </h3>
              </div>
              <div class="modal-body" style="height: 400px;">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                  <div class="d-flex flex-wrap my-2">
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-map text-success mr-2"></i>{{ getSector(offer["offer_sector_id"]) }}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-suitcase text-success mr-2"></i>{{ getCompany(offer["company_id"]) }}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-file-2 text-success mr-2"></i>{{ getContract(offer["contract_id"]) }}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-coins text-success mr-2"></i>{{offer["salary"]}}€/mois</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i
                        class="flaticon-time-2 text-success mr-2"></i>{{getDate(offer["start_date"])|date:'dd/MM/yyy'}}-{{getDate(offer["end_date"])|date:'dd/MM/yyy'}}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon2-pin text-success"></i>
                      {{ offer.city }}
                      ({{ offer.department }})
                    </a>
                  </div>
                </div>
                {{offer.content}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold"
                  data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="candidate{{offer.offer_id}}" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="card-label text-dark">Offre {{offer.title}}
              </h3>
            </div>
            <div class="modal-body" style="height: 400px;">
              <form class="form needs-validation">
                <div class="card-body">

                 <div class="form-group">
                  <div *ngIf="user_has_cv == false">
                    <h4 style="color: rgb(158, 19, 19);">Veuillez upload votre cv dans votre profil</h4>
                  </div>
                  <div *ngIf="user_has_cv == true">
                    <h4>Le CV que vous avez upload dans votre profil sera envoyé.</h4>
                  </div>
                  <hr>
                 </div>
                 <div class="form-group mb-1">
                  <label for="motivationLetter">Lettre de motivation <span class="text-danger">*</span></label>
                  <textarea [(ngModel)]="this.formdata.content" name="content" class="form-control" id="motivationLetter" rows="3" style="height: 200px;" required></textarea>
                 </div>
                </div>
               </form>

               <div class="panel panel-default panelValid" [ngClass]="{'success': statusForm == 1}">
                <div class="panel-body">
                  Votre inscription a bien été prise en compte, merci!
                </div>
              </div>

              <div class="panel panel-default panelInvalid" [ngClass]="{'offerInvalid': statusForm == 2}">
                <div class="panel-body">
                  Une erreur est survenue!
                </div>
              </div>

              <div class="panel panel-default panelInvalid" [ngClass]="{'offerInvalid': statusForm == 3}">
                <div class="panel-body">
                  Veuillez entrer un CV!
                </div>
              </div>

              <div class="panel panel-default panelInvalid" [ngClass]="{'offerInvalid': statusForm == 4}">
                <div class="panel-body">
                  Vous avez déjà postulé!
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light-danger font-weight-bold"
                data-dismiss="modal" >Fermer</button>
                <button type="button" (click)="apply()" class="btn btn-light-primary font-weight-bold"
                >Postuler</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
