.img{
    max-width: 200px;
    max-height: 150px;
}

.card-entreprise{
    background-color: #EEEEEE;
    padding-right: 0px;
    padding-left: 0px;
}

.textoffres{
    font-size: 12px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.titleEntreprise{
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center!important;
    align-items: center;
    min-height: 228px!important;
}

.cardMar{
    margin-right: 0px!important;
}

@media (max-width: 640px) {
.profile_class{
  float:none!important;
  width: 100%!important;
}
.listSectors{
    max-height: 150px;
    overflow: scroll;
}
}

.profile_class {
  float: left;
  width: 250px;
}

.btn {width: 100%;}

/* .profile-company-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

/* .profile-company-header-elem {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: medium;
  color: black;
} */

.card-header {
  border: none;
}

.card-footer {
  border: none;
}

/* .card-title {
  left: 40%;
  right: 40%;
} */

