<div class="card-body pt-15 profile_class">
    <!--begin::User-->
    <div class="mb-10 text-center">
        <div class="symbol symbol-60 symbol-circle symbol-xl-90">
            <div class="symbol-label"
                style="background-image:url('/metronic/theme/html/demo1/dist/assets/media/users/300_21.jpg')">
            </div>
        </div>
        <h4 class="font-weight-bold my-2">NOM Prénom</h4>
        <div class="mb-2">Titre</div>
    </div>
    <!--end::User-->
    <!--begin::Nav-->
    <a class="btn btn-secondary py-3 px-6 mb-2 text-center" href="" [routerLink]="['/feed']">Fil d'actualité</a>
    <a class="btn btn-secondary py-3 px-6 mb-2 text-center" (click)="DisplayProfile()">Mon entreprise</a>
    <a class="btn btn-secondary py-3 px-6 mb-2 text-center" (click)="DisplayOffers()">Nos offres</a>
    <a class="btn btn-secondary py-3 px-6 mb-2 text-center" (click)="DisplayAccounts()">Comptes utilisateurs</a>
    <a class="btn btn-secondary py-3 px-6 mb-2 text-center" href="" [routerLink]="['/companies-list']">Liste des entreprises</a>
    <!--end::Nav-->
</div>
<section class="profile-company-header mb-8">
    <a *ngIf="companyProfile" href="" [routerLink]="['/profile-company']" class="profile-company-header-elem" (click)="DisplayProfile()" style="font-weight: bold;text-decoration: underline;">Mon entreprise</a>
    <a *ngIf="companyProfile == false" href="" [routerLink]="['/profile-company']" class="profile-company-header-elem" (click)="DisplayProfile()">Mon entreprise</a>
    <a *ngIf="companyOffers || companyOffers2" href="" [routerLink]="['/profile-company']" class="profile-company-header-elem" (click)="DisplayOffers()" style="font-weight: bold;text-decoration: underline;">Nos offres</a>
    <a *ngIf="companyOffers == false && companyOffers2 == false" href="" [routerLink]="['/profile-company']" class="profile-company-header-elem" (click)="DisplayOffers()">Nos offres</a>
    <a *ngIf="companyAccounts" href="" [routerLink]="['/profile-company']" class="profile-company-header-elem" (click)="DisplayAccounts()" style="font-weight: bold;text-decoration: underline;">Comptes utilisateurs</a>
    <a *ngIf="companyAccounts == false" href="" [routerLink]="['/profile-company']" class="profile-company-header-elem" (click)="DisplayAccounts()">Comptes utilisateurs</a>
</section>

<app-profile-company-profile *ngIf="companyProfile"></app-profile-company-profile>
<app-profile-company-offers *ngIf="companyOffers"></app-profile-company-offers>
<app-profile-company-offers2 *ngIf="companyOffers2"></app-profile-company-offers2>
<app-profile-company-accounts *ngIf="companyAccounts"></app-profile-company-accounts>