<div class="card-body pt-15 profile_class">
    <!--begin::User-->
    <div class="mb-10 text-center">
        <div class="symbol symbol-60 symbol-circle symbol-xl-90">
            <div class="symbol-label"
                style="background-image:url('/metronic/theme/html/demo1/dist/assets/media/users/300_21.jpg')">
            </div>
        </div>
        <h4 class="font-weight-bold my-2">NOM Prénom</h4>
        <div class="mb-2">Titre</div>
    </div>
    <!--end::User-->
    <!--begin::Nav-->
    <a class="btn btn-secondary py-3 px-6 mb-2 text-center" href="" [routerLink]="['/feed']">Fil d'actualité</a>
    <a href="#" class="btn btn-secondary py-3 px-6 mb-2 text-center">Mon entreprise</a>
    <a href="#" class="btn btn-secondary py-3 px-6 mb-2 text-center">Nos offres</a>
    <a href="#" class="btn btn-secondary py-3 px-6 mb-2 text-center">Liste des entreprises</a>
    <!--end::Nav-->
</div>
<app-profile-company-profile></app-profile-company-profile>
<app-profile-company-offers></app-profile-company-offers>
<app-profile-company-accounts></app-profile-company-accounts>