<div class="card card-custom" >
  <div class="card-header py-3">
    <div class="card-title">
      <h3 class="card-label font-weight-bolder text-dark">Candidatures</h3>
    </div>
  </div>
  <div *ngIf="applications == null">
    <h5 class="pl-5">Aucun candidat n'a postulé à une de vos offres</h5>
  </div>
  <div *ngIf="applications != null">
    <div class="card card-custom gutter-b" *ngFor="let application of applications">
      <div class="card-body">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>
            Candidature <b>{{application.firstname}} {{application.lastname}}</b> (<b>#{{application.offer_id}} </b> {{application.title}})
          </h4></div>
          <div class="panel-body">
            <div class="pt-5">
              <p class="text-dark-75 font-size-lg font-weight-normal mb-2"> Candidat : {{application.firstname}} {{application.lastname}}</p>
              <p class="text-dark-75 font-size-lg font-weight-normal mb-2"> Mail : {{application.email}}</p>
              <p class="text-dark-75 font-size-lg font-weight-normal mb-2"> CV : <a href="{{application.cv}}">{{application.cv}}</a></p>
              <p class="text-dark-75 font-size-lg font-weight-normal mb-2"> Lettre de motivation : {{application.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


