<div class="card-body profile_class" style="height: 100%;">
  <div class="mb-10 text-center">
    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
      <div class="symbol-label" *ngIf="candidateOrCompany != undefined && status =='candidate'"
        style="background-image:url('assets/img/avatars/{{candidateOrCompany.avatar_path}}')"></div>
        <div class="symbol-label" *ngIf="candidateOrCompany != undefined && status !='candidate'"
        style="background-image:url('{{candidateOrCompany.logo}}')"></div>
    </div>
    <h4 class="font-weight-bold my-2">{{user['lastname']}} {{user['firstname']}}</h4>
    <div *ngIf="contract != 'Alternance' && status == 'candidate'" class="mb-2">A la recherche d'un {{contract}}</div>
    <div *ngIf="contract == 'Alternance' && status == 'candidate'" class="mb-2">A la recherche d'une {{contract}}</div>
    <div *ngIf="status != 'candidate'" class="mb-2">{{contract}}</div>
    <!-- <div *ngIf="status == 'candidate'" style="display: 'flex';" class="mt-2">
      <a class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1">Mon CV</a>
      <a class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1">Mes offres</a>
    </div> -->
  </div>
  <div style="margin-top: 5px;" class="d-flex align-items-center">
    <div>
      <a class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">Secteurs
        d'activité</a>
    </div>
  </div>
  <div class=" listSectors navi navi-bold navi-hover navi-active navi-link-rounded">
    <div *ngFor="let elem of sectors" class="navi-item mb-2">
      <label style="display: 'flex';" class="checkbox">
        <input type="checkbox" (change)="clickedCheck($event.target.checked, elem.business_sector_id)" />
        <span style="margin-right: '5px';"></span>
        {{elem.name}}
      </label>
    </div>
  </div>
</div>

<!-- ICI APPEL APP-OFFER -->
<div class="lists"  *ngIf="selectedOffers != null" style="margin:3%">
  <app-offer id="offer"  [offer]='offer' *ngFor="let offer of selectedOffers"></app-offer>
</div>
