<div class="login-form login-signin">
  <div class="text-center mb-10 mb-lg-20">
    <h3 class="font-size-h1">Connexion</h3>
    <p class="text-muted font-weight-bold">Entrez vos identifiants</p>
  </div>
  <!--begin::Form-->
  <form class="form needs-validation" id="kt_login_signin_form">
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-5 px-6"  [(ngModel)]="this.formdata.email" type="text" placeholder="Email" name="email" autocomplete="off" required>
    </div>
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-5 px-6" [(ngModel)]="this.formdata.password"  type="password" placeholder="Mot de passe" name="password" autocomplete="off" required>
    </div>
    <div class = "panel panel-default panelValid" [ngClass]="{'success': statusForm == 1}">
      <div class = "panel-body">
         Vous allez être redirigé !
      </div>
    </div>

    <div class = "panel panel-default panelInvalid" [ngClass]="{'credentialInvalid': statusForm == 2}">
      <div class = "panel-body">
         L'adresse mail et/ou le mot de passe n'existent pas.
      </div>
     </div>
    <!--begin::Action-->
    <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
      <a href="javascript:;" class="text-dark-50 text-hover-primary my-3 mr-2" id="kt_login_forgot" (click)="changed(4)">Mot de passe oublié ?</a>
      <button type="button" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3" (click)="login()">Se connecter</button>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>

