<!--begin::Content-->
<div class="m-5">
  <!--begin::Card-->
  <div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Changer son mot de passe</h3>
      </div>
      <div class="card-toolbar">
        <button type="reset" class="btn btn-success mr-2">Enregistrer</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
      <div class="card-body">
        <!--begin::Alert-->
        <div class="alert alert-custom alert-light-danger fade show mb-10" id="block" role="alert">
          <div class="alert-icon">
                  <span class="svg-icon svg-icon-3x svg-icon-danger">
                     <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Info-circle.svg-->
                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                           <rect x="0" y="0" width="24" height="24" />
                           <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                           <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                           <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                        </g>
                     </svg>
                    <!--end::Svg Icon-->
                  </span>
          </div>
          <div class="alert-text font-weight-bold">Configure user passwords to expire periodically. Users will need warning that their passwords are going to expire,
            <br />or they might inadvertently get locked out of the system!
          </div>
          <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">
                  <i class="ki ki-close"></i>
                  </span>
            </button>
          </div>
        </div>
        <!--end::Alert-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Mot de passe actuel</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password" class="form-control form-control-lg form-control-solid mb-2" value="{{user['password']}}" placeholder="Mot de passe actuel" />
            <a href="#" class="text-sm font-weight-bold">Mot de passe oublié</a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Nouveau mot de passe</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password" class="form-control form-control-lg form-control-solid" value="" placeholder="Nouveau mot de passe" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Confirmation du mot de passe</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password" class="form-control form-control-lg form-control-solid" value="" placeholder="Confirmation de mot de passe" />
          </div>
        </div>
      </div>
    <!--end::Form-->
  </div>
</div>
<!--end::Content-->
