<div class="card-body pt-15 profile_class">
  <div class="mb-10 text-center">
    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
      <div class="symbol-label" *ngIf="company != undefined"
        style="background-image:url('')"></div>
    </div>
    <h4 class="font-weight-bold my-2">{{user['lastname']}} {{user['firstname']}}</h4>
    <div class="mb-2">{{sector}}</div>
  </div>
</div>

<div style="margin: 3%;" class="card card-custom">
  <div class="card-header">
    <h3 style="justify-content: center; text-align:center; font-size: x-large !important;" class="card-title col-md-12">
      Créer une offre
    </h3>
  </div>
  <div class="card-body">
  </div>
</div>
