<div class="card card-custom" >
  <!--begin::Header-->
  <div class="card-header py-3">
    <div class="card-title">
      <h3 class="card-label font-weight-bolder text-dark">Informations {{company.name}}</h3>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Form-->
  <form class="form needs-validation">
    <!--begin::Body-->
    <div class="card-body">


      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Nom</label>
        <div class="col-lg-9 col-xl-6">
          <input #name  [(ngModel)]="this.formdata.name" value="{{company.name}}" name="name" class="form-control form-control-lg form-control-solid" type="text" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Url image</label>
        <div class="col-lg-9 col-xl-6">
          <input #logo [(ngModel)]="this.formdata.logo" value="{{company.logo}}" name="logo" class="form-control form-control-lg form-control-solid" type="text" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Nom référent</label>
        <div class="col-lg-9 col-xl-6">
          <input #referent_lastname [(ngModel)]="this.formdata.referent_lastname" value="{{company.referent_lastname}}" name="referant_lastname" class="form-control form-control-lg form-control-solid" type="text" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Prénom référent</label>
        <div class="col-lg-9 col-xl-6">
          <input #referent_firstname  [(ngModel)]="this.formdata.referent_firstname" value="{{company.referent_firstname}}" name="referant_firstname" class="form-control form-control-lg form-control-solid" type="text" required>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Email référent</label>
        <div class="col-lg-9 col-xl-6">
          <input #referent_email [(ngModel)]="this.formdata.referent_email" value="{{company.referent_email}}" name="referent_email" class="form-control form-control-lg form-control-solid" type="text" required>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-xl-3 col-lg-3 col-form-label">Téléphone référent</label>
        <div class="col-lg-9 col-xl-6">
          <input #referent_phone [(ngModel)]="this.formdata.referent_phone" value="{{company.referent_phone}}" name="referent_phone" class="form-control form-control-lg form-control-solid" type="text" required>
        </div>
      </div>

    </div>
    <!--end::Body-->
  </form>

  <div class="card-footer text-right">
    <button type="reset" class="btn btn-success" (click)="validate()">Sauvegarder</button>
   </div>
  <!--end::Form-->
</div>
