<div [className]="clicked ? 'topnav responsive' : 'topnav'" id="myTopnav">
  <a routerLink="/incom/feed" [ngClass]="(tab==1)?'activeBtn':''" (click)="changeTab(1)" class="active"><img
      class="logo" src="../../../../assets/img/logo-summer-white.png"></a>
  <a routerLink="/incom/feed" [ngClass]="(tab==1)?'activeBtn':''" (click)="changeTab(1)"><i
      [ngClass]="(tab==1)?'activeLogo':''" class="flaticon-network"></i>Fil d'actualité</a>
  <a routerLink="/incom/companies" [ngClass]="(tab==2)?'activeBtn':''" (click)="changeTab(2)"><i
      [ngClass]="(tab==2)?'activeLogo':''" class="flaticon-suitcase"></i>Entreprises</a>
  <a routerLink="/incom/offers" [ngClass]="(tab==3)?'activeBtn':''" (click)="changeTab(3)"><i
      [ngClass]="(tab==3)?'activeLogo':''" class="flaticon-notes"></i>Offres</a>
  <a routerLink="{{status ? '/incom/profile-page' : 'incom/profil-company'}}" [ngClass]="(tab==4)?'activeBtn':''" (click)="changeTab(4)"><i
      [ngClass]="(tab==4)?'activeLogo':''" class="flaticon-avatar profile"></i>Mon profil</a>
  <a href="javascript:void(0);" class="icon" (click)="clickBurger()">
    <i class="fa fa-bars"></i>
  </a>
</div>
