@media (max-width:985px) and (max-height:828px){

  #information{
    margin-top: 66px;
  }

}

.img{
  max-width: 200px;
  max-height: 150px;
}


.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.cardMar{
  margin-right: 0px!important;
}

@media (max-width: 640px) {
  .profile_class{
    float:none!important;
    width: 100%!important;
  }
  .listSectors{
      max-height: 150px;
      overflow: scroll;
  }
  }
  .profile_class {
    float: left;
    width: 250px;
  }

  .btn {width: 100%;}

  .card-header {
    border: none;
  }

  .card-footer {
    border: none;
  }

  .navi .navi-item .navi-link{
    padding-top: 10px!important;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

