<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title col-md-12">
            Mon entreprise
        </h3>
    </div>
    <!--begin::Form-->
    <form>
    <div class="card-body">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="NOM DE L'ENTREPRISE" />
        </div>
        <div class="form-group col-md-6">
            <input type="email" class="form-control" placeholder="EMAIL" />
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="NOM" />
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="PRENOM" />
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="TELEPHONE" />
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="ADRESSE" />
        </div>
        <div class="form-group col-md-12">
            <select class="form-control" id="Select">
                <option value="" disabled selected hidden>Sélectionner votre secteur d'activité</option>
                <option>Agriculture</option>
                <option>Ameublement</option>
                <option>Automobile</option>
                <option>Assurance</option>
                <option>Art</option>
                <option>Armée de terre</option>
                <option>Alimentaire</option>
                <option>Bâtiment</option>
                <option>Banque</option>
                <option>Commerce interentreprises</option>
                <option>Commerces de détail non alimentaires</option>
                <option>Commerce à distance et e-commerce</option>
                <option>Chimie</option>
                <option>Edition</option>
                <option>Economie sociale, habitat social et protection sociale</option>
                <option>Evénement</option>
                <option>Etudes et conseil</option>
                <option>Fabrication, maintenance et réparation</option>
                <option>Fédération des industries nautiques</option>
                <option>Grands magasins et magasins populaires</option>
                <option>Hôtellerie - Restauration</option>
                <option>Industries technologiques</option>
                <option>Industries des papiers et cartons</option>
                <option>Ingénierie</option>
                <option>Entreprises du médicament</option>
                <option>Magasins d’habillement</option>
                <option>Mutualité</option>
                <option>Matériaux pour la construction et l’industrie</option>
                <option>Numérique</option>
                <option>Offices Publics de l’Habitat</option>
                <option>Plasturgie</option>
                <option>Presse</option>
                <option>Propreté</option>
                <option>Production et services</option>
                <option>Retraite complémentaire et prévoyance</option>
                <option>Régies de quartier</option>
                <option>Services</option>
                <option>Santé</option>
                <option>Télécommunications</option>
                <option>Travaux publics</option>
                <option>Textile</option>
                <option>Transport et logistique</option>
                <option>Union sociale pour l’habitat</option>
            </select>
        </div>
        <div class="col-md-4"></div>
        <div class="card-footer col-md-4">
            <button type="reset" class="btn btn-primary btn-modify">Modifier les paramètres de l'entreprise</button>
        </div>
        <div class="col-md-4"></div>
        <!--end::Form-->
    </div>
