<div *ngIf="company != undefined" class="container-cote-gauche card-body profile_class col-md-4">
  <div class="mb-10 text-center">
    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
      <div class="symbol-label" style="background-image:url('{{company.logo}}')"></div>
    </div>
    <h4 class="font-weight-bold my-2">{{company['referent-lastname']}} {{company['referent_firstname']}}</h4>
    <div class="mb-2">{{sector}}</div>
  </div>
  <a [routerLink]="" (click)="status=0" [ngClass]="status == 0 ? 'hover_btn_cote' : ''"
    class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Informations
    Entreprise</a>
  <a [routerLink]="" (click)="status=3" [ngClass]="status == 3 ? 'hover_btn_cote' : ''"
    class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Gestion des
    comptes</a>
  <a [routerLink]="" (click)="status=1" [ngClass]="status == 1 ? 'hover_btn_cote' : ''"
    class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Gestion des
    offres</a>
    <a [routerLink]="" (click)="status=7" [ngClass]="status == 1 ? 'hover_btn_cote' : ''"
    class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Candidatures</a>
  <a [routerLink]="" (click)="status=5" [ngClass]="status == 5 ? 'hover_btn_cote' : ''"
    class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Informations
    personnels</a>
</div>

<div class="flex-row-fluid" style="margin:3%">
  <app-profile-company-profile *ngIf="status==0" (changeStatus)="statusChange($event)"></app-profile-company-profile>
  <app-profile-company-offers *ngIf="status==1" (changeUserIDSelected)="userIDSelectedChange($event)"
    (changeStatus)="statusChange($event)"></app-profile-company-offers>
  <app-profile-company-offers-creation *ngIf="status==2" (changeStatus)="statusChange($event)">
  </app-profile-company-offers-creation>
  <app-profile-company-accounts *ngIf="status==3" (changeStatus)="statusChange($event)">
  </app-profile-company-accounts>
  <app-profile-company-account-creation *ngIf="status==4" (changeStatus)="statusChange($event)">
  </app-profile-company-account-creation>
  <app-profile-company-profile-perso *ngIf="status==5" (changeStatus)="statusChange($event)">
  </app-profile-company-profile-perso>
  <app-profile-company-offers-edit [userIDSelected]="userIDSelected" *ngIf="status==6"
    (changeStatus)="statusChange($event)"></app-profile-company-offers-edit>
  <app-profile-company-apply *ngIf="status==7" (changeStatus)="statusChange($event)" ></app-profile-company-apply>
</div>
