<div class="card-body profile_class col-md-4" style="height: 100%;">
  <div class="mb-10 text-center">
    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
      <div class="symbol-label" *ngIf="candidateOrCompany != undefined && status =='candidate'"
        style="background-image:url('assets/img/avatars/{{candidateOrCompany.avatar_path}}')"></div>
        <div class="symbol-label" *ngIf="candidateOrCompany != undefined && status !='candidate'"
        style="background-image:url('{{candidateOrCompany.logo}}')"></div>
    </div>
    <h4 class="font-weight-bold my-2">{{user['lastname']}} {{user['firstname']}}</h4>
    <div *ngIf="contract != 'Alternance' && status == 'candidate'" class="mb-2">A la recherche d'un {{contract}}</div>
    <div *ngIf="contract == 'Alternance' && status == 'candidate'" class="mb-2">A la recherche d'une {{contract}}</div>
    <div *ngIf="status != 'candidate'" class="mb-2">{{contract}}</div>
    <!-- <div *ngIf="status == 'candidate'" style="display: 'flex';" class="mt-2">
      <a class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1">Mon CV</a>
      <a class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1">Mes offres</a>
    </div> -->
  </div>
  <div style="margin-top: 5px;" class="d-flex align-items-center">
    <div style="margin-bottom: 5px;">
      <a *ngIf="status != 'candidate'" class="font-weight-bolder font-size-h4 text-dark-75 text-hover-primary">
        <i class="flaticon-file-2 mr-2 icon-xl text-primary"></i>Nos offres</a>
        <a *ngIf="status == 'candidate'" class="font-weight-bolder font-size-h4 text-dark-75 text-hover-primary">
          <i class="flaticon-visible mr-2 icon-xl text-primary"></i>À découvrir</a>
          <div class="mt-2">
            <ul style="list-style:none;">
              <li *ngFor="let company of toDiscover">
                <a routerLink="/incom/company/{{ company.company_id }}"
                  class="btn btn-light-success font-weight-bold mt-2">{{ company.name }}</a>
              </li>
            </ul>
          </div>
    </div>
  </div>
  <div class="listSectors navi navi-bold navi-hover navi-active navi-link-rounded">
    <div *ngFor="let elem of tabLittleOffers" class="navi-item mb-2">
        <p style="font-size: 16px;">{{elem.title}}</p>
    </div>
  </div>
</div>

<div *ngIf="!loading" style="margin: 3%;" class="card card-custom">
  <div class="card-body">
    <div style="flex-direction: column;display: flex;align-items: center;">
      <img style="max-width: 200px;" src="{{company.logo}}">
      <h3 style="justify-content: center; text-align:center; font-size: x-large !important;"
        class="card-title col-md-12">
        {{company.name}}
      </h3>
      <div style="display: flex;">
        <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="font-size: 15px; color:gray">
          <i class="flaticon-user mr-2 icon-2x text-success"></i>{{company.referent_lastname}}
          {{company.referent_firstname}}</a>
        <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="font-size: 15px; color:gray">
          <i class="flaticon-email mr-2 icon-2x text-success"></i>{{company.referent_email}}</a>
        <a *ngIf="sectors != undefined" class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
          style="font-size: 15px; color:gray">
          <i class="flaticon-map mr-2 icon-2x text-success"></i>{{getSector(company.business_sector_id)}}</a>
      </div>
    </div>
  </div>
  <div *ngFor="let offer of offers" style="margin:5px;border: 1px solid #9E9E9E; border-radius: 20px;" class="card-container card-body">
    <div class="d-flex">
      <div class="flex-grow-1">
        <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
          <div class="mr-3">
            <h3 class="card-label text-dark"><i class="flaticon2-contract icon-xl text-primary mr-2"></i>{{
              offer.title
              }}
              <small style="color:gray">postée le
                {{ getDate(offer.start_date) | date:'dd/MM/yyyy'}}</small>
            </h3>
            <div class="d-flex flex-wrap my-2">
              <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon-map mr-2"></i>{{ getSector(offer["business_sector_id"]) }}</a>
              <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon-suitcase mr-2"></i>{{ getCompany(offer["company_id"]) }}</a>
              <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon-file-2 mr-2"></i>{{ getContract(offer["contract_id"]) }}</a>
              <a class="text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2" style="color:gray">
                <i class="flaticon2-pin"></i>
                {{ offer.city }}
                ({{ offer.department }})
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center flex-wrap justify-content-between">
          <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
            {{ getContent(offer.content)}}
          </div>
        </div>
        <div class="my-lg-0 my-1 d-flex justify-content-end">
          <a [routerLink]="" (click)="manageLike(offer)" style="width: fit-content;"
            class="btn btn-success font-weight-bold mr-2">
            <i class="flaticon-like"></i> J'aime
          </a>
          <a [routerLink]="" (click)="manageLike(offer)" style="width: fit-content;"
            class="btn btn-success font-weight-bold mr-2">
            <i class="flaticon-like"></i> Je desaime
          </a>
          <a href="#" style="width: fit-content;" data-toggle="modal" data-target="#exampleModalScrollable"
            class="btn btn-light-primary font-weight-bold mr-2">
            <i class="flaticon-search"></i> Voir
          </a>
        </div>
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="card-label text-dark"><i class="flaticon2-contract icon-xl text-primary mr-2"></i>{{
                  offer.title }}
                  <small style="color:gray">postée le
                    {{ getDate(offer.start_date) | date:'dd/MM/yyyy'}}</small>
                </h3>
              </div>
              <div class="modal-body" style="height: 450px;">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                  <div class="d-flex flex-wrap my-2">
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-map text-success mr-2"></i>{{ getSector(offer["offer_sector_id"]) }}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-suitcase text-success mr-2"></i>{{ getCompany(offer["company_id"]) }}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-file-2 text-success mr-2"></i>{{ getContract(offer["contract_id"]) }}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon-coins text-success mr-2"></i>{{offer["salary"]}}€/mois</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i
                        class="flaticon-time-2 text-success mr-2"></i>{{getDate(offer["start_date"])|date:'dd/MM/yyyy'}}-{{getDate(offer["end_date"])|date:'dd/MM/yyyy'}}</a>
                    <a href="#" class="text-hover-primary font-weight-bold mr-lg-8 mr-2 mb-lg-0 mb-2"
                      style="color:gray">
                      <i class="flaticon2-pin text-success"></i>
                      {{ offer.city }}
                      ({{ offer.department }})
                    </a>
                  </div>
                </div>
                {{offer.content}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold"
                  data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
