<button (click)="changeTab(1)"> tab 1</button>
<button (click)="changeTab(2)"> tab 2</button>
<button (click)="changeTab(3)"> tab 3</button>

<div *ngIf="tab == 1"> coucou tab 1</div>
<div *ngIf="tab == 2">coucou tab 2</div>
<div *ngIf="tab == 3"> coucou tab 3</div>

<h1 style="margin-top: 50px" *ngFor="let elem of rows">
   {{ elem }}
</h1>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>