<div class="container-cote-gauche card-body profile_class col-md-4">
  <div class="mb-10 text-center">
    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
      <div class="symbol-label" *ngIf="candidateOrCompany != undefined && currentStatusUser =='candidate'"
        style="background-image:url('assets/img/avatars/{{ candidateOrCompany.avatar_path }}')"></div>
      <div class="symbol-label" *ngIf="candidateOrCompany != undefined && currentStatusUser !='candidate'"
        style="background-image:url('{{ candidateOrCompany.logo }}')"></div>
    </div>
    <h4 class="font-weight-bold my-2">{{ currentUser['lastname'] }}
      {{ currentUser['firstname'] }}</h4>
    <div *ngIf="contract != 'Alternance' && currentStatusUser == 'candidate'" class="mb-2">A la recherche d'un
      {{ contract }}</div>
    <div *ngIf="contract == 'Alternance' && currentStatusUser == 'candidate'" class="mb-2">A la recherche d'une
      {{ contract }}</div>
    <div *ngIf="currentStatusUser != 'candidate'" class="mb-2">{{ contract }}</div>
    <!-- <div *ngIf="currentStatusUser == 'candidate'" style="display: 'flex';" class="mt-2">
      <a class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1">Mon CV</a>
      <a class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1">Mes offres</a>
    </div> -->
  </div>

  <div style="margin-top: 5px;" class="d-flex align-items-center">
    <div style="margin-bottom: 5px;">
      <a *ngIf="currentStatusUser != 'candidate'"
        class="font-weight-bolder font-size-h4 text-dark-75 text-hover-primary">
        <i class="flaticon-file-2 mr-2 icon-xl text-primary"></i>Nos offres</a>
      <a *ngIf="currentStatusUser == 'candidate'"
        class="font-weight-bolder font-size-h4 text-dark-75 text-hover-primary">
        <i class="flaticon-visible mr-2 icon-xl text-primary"></i>À découvrir</a>
      <div class="mt-2">
        <ul style="list-style:none;">
          <li *ngFor="let company of toDiscover">
            <a routerLink="/incom/company/{{ company.company_id }}"
              class="btn btn-light-success font-weight-bold mt-2">{{ company.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="listSectors navi navi-bold navi-hover navi-active navi-link-rounded">
    <div *ngFor="let elem of tabLittleOffers" class="navi-item mb-2">
      <p style="font-size: 16px;">{{ elem.title }}</p>
    </div>
  </div>
</div>


<div style="margin: 3%;">
  <app-post-editor (isPost)="reloadPosts($event)" id="post-editor" *ngIf="currentStatusUser == 'employee'">
  </app-post-editor>
  <div class="lists" *ngIf="posts != null">
    <app-post id="post" [post]='post' *ngFor="let post of posts"></app-post>
  </div>
</div>
