.container-cote-gauche{
  height: 100%;
}

@media (max-width: 640px) {
  .container-cote-gauche{
    max-height: 250px;
  }
  .profile_class{
    float:none!important;
    width: 100%!important;
  }
  .listSectors{
      max-height: 150px;
      overflow: scroll;
  }
  }
  .profile_class {
    float: left;
    width: 250px;
  }

  .card-header {
    border: none;
  }

  .card-footer {
    border: none;
  }
