
.panel{
  display: none;
}
.success{
  display: block;
  background-color: #9bdad9 ;
}

.panelInvalid{
  background-color: #f67483;
}

.oldpasswordInvalid{
  display: block;
}

.newpasswordInvalid{
  display: block;
}

.card-header {
  border: none;
}

.card-footer {
  border: none;
}

.card-title {
  left: 40%;
  right: 40%;
  font-size: x-large !important;
}

