<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title col-md-12">Nos offres</h3>
    </div>
    <div class="card-body">
        <h4>Offre postée le </h4>
        <h5>A Subtitle</h5>
        <div>texte de l'offre</div>
        <div class="col-md-4"></div>
        <div class="card-footer col-md-4">
            <button class="btn btn-primary btn-modify" href="" [routerLink]="['/incom/offers']">Voir toutes les offres</button>
        </div>
        <div class="col-md-4"></div>
    </div>


