<!--begin::Signup-->
<div class="login-form login-signup">
  <div class="text-center mb-10 mb-lg-20">
    <h3 class="font-size-h1">Inscription Entreprise</h3>
    <p class="text-muted font-weight-bold">Enter your details to create your account</p>
  </div>
  <!--begin::Form-->
  <form class="form" novalidate="novalidate" id="kt_login_signup_form">
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-5 px-6" type="text" placeholder="Fullname" name="fullname"
        autocomplete="off" />
    </div>
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-5 px-6" type="email" placeholder="Email" name="email"
        autocomplete="off" />
    </div>
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Password"
        name="password" autocomplete="off" />
    </div>
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Confirm password"
        name="cpassword" autocomplete="off" />
    </div>
    <div class="form-group">
      <label class="checkbox mb-0">
        <input type="checkbox" name="agree" />
        <span></span>I Agree the
        <a href="#">terms and conditions</a></label>
    </div>
    <div class="form-group d-flex flex-wrap flex-center">
      <button type="button" id="kt_login_signup_submit"
        class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Submit</button>
      <button type="button" id="kt_login_signup_cancel"
        class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4" (click)="changed(0)">Cancel</button>
    </div>
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->
